<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<form action="/bookmarks" method="post">
  <input type="text" name="url"/>
  <label for="url">url</label><br/>
  <input type="text" name="title"/>
  <label for="title">title</label>
  <input type="submit" value="Save"/>
</form>

<ul>
  <% bookmarks.each do |bookmark| %>
    <li><a href="<%= bookmark.url %>"><%= bookmark.title %></a></li>
  <% end %>
</ul>
